{% extends 'base.html' %}
{% block title %}{{ fname }}'s Profile{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-5">
    <H1>{{ fname }}'s Profile</H1>
    <div>
      <button class="form-control" id="book-search-btn">
        Borrow a Book from the Library!
      </button>
    </div>
    <h5 >My Library</h5>
    <div id="user-library-view"></div>
  </div>
  <div class="col-7">
    <h5>Add a book to your Library:</h5>
    <form id="upload-image-form" 
          action="/upload-image" 
          method="POST" 
          enctype="multipart/form-data"
          >
      <p>Upload a book image here:</p>
      <input  type="file" id="image-field" required="required"/> 
      <br />
      <input  type="text" id="title-field"  name="title" 
              placeholder="enter title here..." required="required"
              /> 
      <label for="title-field">Title of book</label>
      <br />
      <input  type="text" id="author-field" name="author" 
              placeholder="enter author here..." required="required"
              /> 
      <label for="author-field">Author</label>              
      <br />
      <textarea id="description-field" name="description" cols="20" rows="4" 
              placeholder="(Optional...)"></textarea>
      <label for="description-field">Include a brief description</label>
      <div>Choose as many genres as you feel apply!</div>
      <div class="row" id="checkboxes">
        <div class="col">
          <input type="checkbox" class="genre-field" 
                  name="Fiction" />Fiction<br />
          <input class="genre-field" type="checkbox" 
                  name="Action, Adventure" />Action/Adventure <br />
          <input class="genre-field" type="checkbox" 
                  name="Childrens" />Childrens<br />
          <input class="genre-field" type="checkbox" 
                  name="Classics" /> Classics<br />
          <input class="genre-field" type="checkbox" 
                  name="Comedy" />Comedy<br />
          <input class="genre-field" type="checkbox" 
                  name="Comics, Graphic Novels" />Comics/Graphic Novels<br />
          <input class="genre-field" type="checkbox" 
                  name="Fantasy" />Fantasy<br />
          <input class="genre-field" type="checkbox" 
                  name="Historical Fiction" />Historical Fiction<br />
        </div>
        <div class="col">
          <input class="genre-field" type="checkbox" 
                  name="Horror" />Horror<br />
          <input class="genre-field" type="checkbox" 
                  name="LGBT" />LGBT<br />
          <input class="genre-field" type="checkbox" 
                  name="Mystery, Detective" />Mystery/Detective<br />
          <input class="genre-field" type="checkbox" 
                  name="Romance" />Romance<br />
          <input class="genre-field" type="checkbox" 
                  name="Scifi, Science Fiction" />Science Fiction<br />
          <input class="genre-field" type="checkbox" 
                  name="Short Stories" />Short Stories<br />
          <input class="genre-field" type="checkbox" 
                  name="Suspense, Thriller" />Suspense/Thriller<br />
          <input class="genre-field" type="checkbox" 
                  name="Young Adult, YA" />Young Adult<br />
        </div>
        <div class="col">
          <input class="genre-field" type="checkbox" 
                  name="Nonfiction" />Nonfiction<br />
          <input class="genre-field" type="checkbox" 
                  name="Autobiography, Memoir" />Autobiography/Memoir<br />
          <input class="genre-field" type="checkbox" 
                  name="Biography" />Biography<br />
          <input class="genre-field" type="checkbox" 
                  name="Cookbook" />Cookbook<br />
          <input class="genre-field" type="checkbox" 
                  name="Essays" />Essays<br />
          <input class="genre-field" type="checkbox" 
                  name="History" />History<br />
          <input class="genre-field" type="checkbox" 
                  name="Poetry" />Poetry<br />
          <input class="genre-field" type="checkbox" 
                  name="True Crime" />True Crime<br />
        </div>
      </div>
      <input class="form-control" id="new-book-submit" type="submit" />
    </form>
  </div>  
</div>

{% endblock %}

{% block after_body %}
  <script src="/static/js/profile.js"></script> 
{% endblock %}
